
@{
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h5 style="color:red;">@ViewBag.ExcError</h5>
</body>
</html>
