@model IBS_DALayer.Models.AccountDetail
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Withdrawal";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h5 style="color:red;">@ViewBag.ExcError</h5>
<hr />  
<div class="row">
    <div class="col-md-4 offset-xl-1">
        <h4 style="color:red;">
            @ViewBag.Amount
        </h4>
        <form action="Withdrawal" method="post">
            
           <div class="form-outline mb-4">
              <label class="form-label">Withdrawal Amount</label>
            <input type="number" id="Balance" name="Amount" class="form-control form-control-lg"
              placeholder="Enter here" />
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" class="btn btn-primary btn-lg" value="Withdrawal"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"/>
          </div>
        </form>
        <br/>
    </div>
</div>



